.label {
  display: block;
  width: 100%;
  position: relative;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
  position: absolute;
  bottom: 6px;
  left: 10px;
  pointer-events: none;
  transition: all .3s;
}

.textarea,
.input {
  width: 100%;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.active{
  .text{
    font-size: 12px;
    top: -20px;
    bottom: unset;
  }
}